/*Changes of heading*/
h1{
	font-family:Lucida Console;
}

/*Changes of all image using in webpages*/
img{
	width:500px;
	height:500px;
	margin-left:20px;
	margin-top:20px;
}

/*Changes of paragraphs*/
td{
	text-align: justify;
  	text-justify:inter-word;
	padding:60px;
}

/*Paragraph font size*/
font{
	font-size:17px;
}
